[2019-06-23 15:33] michaeldera commented on #1006
Is this still available to work on?

[2019-06-23 15:50] TejasQ commented on #1006
There isn't really an idea of what to implement here yet – it's more a design question of which style we settle on. @kemal-contiamo or @micha-f any ideas?

When we decide which one wins, @michaeldera, would you like to implement it?

[2019-06-23 15:52] michaeldera commented on #1006
Yes please. Would love to tackle it.

[2019-06-23 15:53] TejasQ commented on #1076
@DillionM, you have all the permission to not understand and that is totally fine!

To explain a bit,

- this is an **issue**. It's a place where we (the community) list stuff that we need to work on in the project. Think of it as a "to do list".

- when someone (in this case @mehtavishwa30) chooses to work on it, they fix the issue and open a **pull request**. They kind of look [like this](https:

[2019-06-23 15:53] TejasQ commented on #1006
You got it! Let's wait for their feedback.

[2019-06-23 15:54] TejasQ commented on #971
@kazionovm that looks cool. Was that your plan? I kind of already solved it 😬 because I was bored on a plane. Would love your review on the PR.

[2019-06-23 15:59] TejasQ opened #1078 "Fix code examples"
So now that we moved to the Monaco Editor (#1036), some examples are invalid. You can see this by navigating through the components and clicking `View Code` here: https://operational-ui.netlify.com/#/Hooks/useInterval and on other components.

![image](https://user-images.githubusercontent.com/9947422/59978775-76366500-95e0-11e9-8185-2f933d2f77f4.png)

When you click `View Code`, you might see som

[2019-06-23 16:11] jdc91 commented on #1078
Hey @TejasQ interested in this issue! However is their a simple way to exhaustively find these issues?

[2019-06-23 16:20] TejasQ commented on #1078
You could create a checker 😛

My original plan was to go through each page.

One idea is the way the “View Code” Button works — the default state is that the playgrounds are closed. You could change this (just for your checking process) to have the playgrounds open by default and then just scan each page. I think that could be a small step in the right direction.

[2019-06-23 16:23] TejasQ commented on #1078
Let me know if you want to take it so I can mark it as taken.

[2019-06-23 16:44] jdc91 commented on #1078
Let's not mark it yet! If this is not taken by next Friday I will pick it up :)

[2019-06-23 18:31] bradd123 commented on #1078
@TejasQ I'd like to take this issue.

[2019-06-23 19:41] TejasQ commented on #1078
You got it, @bradd123!

[2019-06-23 19:43] bradd123 commented on #1078
@TejasQ I made an initial commit fixing hooks examples. Please take a look. I will fix others tomorrow.

[2019-06-23 19:48] TejasQ opened #1080 "Add "onion with master""
Similar to how we have [diff with master](https://deploy-preview-1075--operational-ui.netlify.com/?activeComponent=&search=) on pull request previews, let’s try and have an [“onion mode”](http://firealpaca.com/en/topics/What+is+Onion+Skin+mode%3F) where:

- if someone is looking at a PR preview or local host
  - show “onion” button

On click of the onion button, we open up an iFrame with [master](

[2019-06-23 22:44] Corvinae commented on #1080
Put me in coach! (@mp3_vampire from Twitter)

[2019-06-24 00:39] victorgarciaesgi commented on #1076
It's just css?

Why not put

.avatar:not(:first-child) {
     margin-left: -12px;
}

[2019-06-24 02:45] Corvinae commented on #1080
Spent some time orienting myself with the source code.  I just traced out the StyleguideContext -> Header dependency and got my head around the state changes with dispatch.

I assume PR preview and 'deploy-preview' are interchangeable, but are there any specific components relevant to it? Or is it dependent on 'isDiffWithMaster' like localhost and there are no UI/code differences?

[2019-06-24 05:52] kemal-contiamo commented on #1073
@TejasQ would your proposed changes effecting all dropdown regardless of where they're being used?

[2019-06-24 06:47] TejasQ commented on #1076
You could! We’d have to use a theme value instead of just -12, but that can work. 😃

[2019-06-24 06:49] mehtavishwa30 commented on #1076
The script is returning a few problems in the tsconfig file and AvatarGroup. Although the code looks just fine.

[2019-06-24 06:58] TejasQ commented on #1076
What script?

What problems?

Logs/output would be helpful to help me help you in this case.

I think it’s fundamentally a design question. With design systems, it’s often a bad idea to have elements manipulate the space around them. This is kind of like doing side effects in functions. They’re not wrong necessarily, but often can lead to unpredictable states.

To help this, the “pure functions” m

[2019-06-24 07:00] TejasQ commented on #1073
Yes.

[2019-06-24 07:05] mehtavishwa30 commented on #1076
Attached screenshots of the logs

Agreed. It's probably not the best way to solve the problem.

Working on it! Thanks.

[2019-06-24 07:19] TejasQ commented on #1076
Those errors look a little odd. Do you have TypeScript installed? Maybe try `yarn add typescript@next -D` again?

[2019-06-24 07:20] TejasQ commented on #1080
correct.

The IFrame for example is relevant to it. I'm not sure I fully understand the question.

[2019-06-24 07:53] kemal-contiamo commented on #1073
@TejasQ I like the subtleness, but I would prefer to keep what's already being designed (the new one). One of the main reason is that we have this combo-dropdown (with custom text field) - look at the background color of the "custom":
![Screenshot 2019-06-24 at 09 28 06](https://user-images.githubusercontent.com/49938430/59999591-a292c580-9662-11e9-97d1-96fd1e046997.png)

The other reason is that

[2019-06-24 07:56] #1054 closed

[2019-06-24 08:00] TejasQ commented on #1073
I hear what you're saying, but bigger list items look a little weird: see [the second example](https://deploy-preview-1043--operational-ui.netlify.com/#!/ComboButton) here. What do we do in this case?

[2019-06-24 08:06] kemal-contiamo commented on #1073
Is it weird because of its narrow width you mean?
<img width="209" alt="Screenshot 2019-06-24 at 10 05 37" src="https://user-images.githubusercontent.com/49938430/60001851-af65e800-9667-11e9-8a75-b761a3641b07.png">
or weird because the way focus and hover state looks in those menu?

[2019-06-24 08:06] mehtavishwa30 commented on #1076
I do have it priorly installed. However trying that does not solve the problem.

[2019-06-24 08:11] TejasQ commented on #1073
Weird because it's super blue there but [not super blue here](https://app.zeplin.io/project/5cc31fad6f17562d6dac9a53/screen/5ce666f82c7c2d1dc81c2947) even though they're conceptually the same thing.

[2019-06-24 08:23] #1056 closed

[2019-06-24 08:35] #1071 closed

[2019-06-24 09:27] kemal-contiamo commented on #1006
@TejasQ lets streamline our focus state to the ones that Slava already showed above, which is these:
<img width="239" alt="Screenshot 2019-06-24 at 11 24 19" src="https://user-images.githubusercontent.com/49938430/60007533-c100bd00-9672-11e9-9298-6d91b6a4bafc.png">
<img width="170" alt="Screenshot 2019-06-24 at 11 24 23" src="https://user-images.githubusercontent.com/49938430/60007534-c100bd00-967

[2019-06-24 09:34] TejasQ commented on #1006
@michaeldera you got that?

[2019-06-24 09:41] mpotomin commented on #1006
Please ensure, that the updated focus styles make Action menu look focused for the Table example with actions (more details in this PR https://github.com/contiamo/operational-ui/pull/1068)

[2019-06-24 09:42] #971 closed

[2019-06-24 10:50] Corvinae commented on #1080
I did overlook IFrame in my comment, but I had taken a look at, I guess I meant are there any other components relevant to PR previews that I had overlooked tucked away somewhere, but I take it not?

If that's the case I have a very clear concept of my plan of attack, so thank you for your help clarifying!

[2019-06-24 10:55] TejasQ commented on #1080
Awesome! @Corvinae, what is your plan of attack?

[2019-06-24 10:59] Corvinae commented on #1080
@TejasQ, well the original plan was a little opinionated so I figured I'd ask more questions. 😄

Is "onion mode" intended to be completely seperate from "diff from master", ie seperate buttons/iframes, or is the onion button intended to be a mode of the diff view, ie seperate buttons, same iframe, but with style changes/transformation to accomplish overlay?

My original plan was more in line with

[2019-06-24 11:03] Corvinae commented on #1080
I feel like "onion mode" as a suboption of the diff view is more intuitive, and restricts the user from bringing the two views into conflict without requiring extensive conditional rendering.

[2019-06-24 11:09] TejasQ commented on #1080
Good question. I think it would make more sense for encapsulation (of UX) if the onion button was a mode of the diff view, which means we either:

- diff by split screen, or
- diff by onion overlay

That would be the cleanest imho. What do you think? I think it would be really interesting to figure out scroll and event propagation across the onion layer and the main layer. 😍

[2019-06-24 11:19] michaeldera commented on #1006
Got it!

[2019-06-24 14:16] rimildeyjsr commented on #909
@fabien0102 - Hey I am interested in taking this up!

Would this be a good first bug to start with? All the other first bugs are currently taken up 😅

[2019-06-24 14:39] fabien0102 commented on #909
@rimildeyjsr Hey! Welcome to the project 🎉

Definitely a good first issue! Don't hesitate if you have any questions 😃

[2019-06-24 15:26] #1061 closed

[2019-06-24 19:25] Ali-Aftab commented on #1076
Hi @TejasQ ,
I was curious if the pull request is still open for grabs

[2019-06-24 19:27] michaeldera commented on #1006
I may not be getting this correctly.. So I am working on this right now and the actions do look focused (I am assuming that looking focused is the blue color here).. is that what you mean @mpotomin ?

[2019-06-24 19:27] TejasQ commented on #1076
Hey @Ali-Aftab! Welcome to the project! Unfortunately, this issue was taken on by @mehtavishwa30 and already has an open pull request on which we’re collaborating: https://github.com/contiamo/operational-ui/issues/1081

Feel free to grab any other issue though!

[2019-06-24 19:28] TejasQ commented on #1006
Yes, @michaeldera. The “Actions” on the table is expected to have a blue outline when it’s focused. It currently doesn’t on `master`. 😊

[2019-06-24 19:31] michaeldera commented on #1006
Oh... a blue border?

[2019-06-24 19:37] TejasQ commented on #1006
“Border”, implemented using `box-shadow` as it currently is according to [the spec](https://github.com/contiamo/operational-ui/issues/1006#issuecomment-504932656).

[2019-06-24 20:45] michaeldera commented on #1006
Just something I noticed while check my PR related to the design of [DataTableInput](https://operational-ui.netlify.com/#/Components/DataTableInput). I thought these look a bit odd because of the corners.

![image](https://user-images.githubusercontent.com/12817839/60050610-4c10a000-96d1-11e9-8ec8-983fbd97077d.png)

![image](https://user-images.githubusercontent.com/12817839/60050659-6fd3e600-96d1

[2019-06-24 20:50] TejasQ commented on #1006
@michaeldera that seems odd. Would you be interested to look at solving that case too? Might make more sense to do that in a new PR once we merge your existing one.

[2019-06-24 20:51] michaeldera commented on #1006
Yes. Should I create a new issue for it?

[2019-06-24 20:52] TejasQ commented on #1006
Yep. Great idea! It’s almost midnight here in Berlin. I’ll review your pull request first thing in the morning! So excited! 😍

[2019-06-24 20:53] michaeldera commented on #1006
Sure. Sounds great!

[2019-06-24 20:59] michaeldera opened #1084 "DataTableInput margins not aligned."
Design of the DataTableInput Elemet looks odd.

![image](https://user-images.githubusercontent.com/12817839/60051501-6cd9f500-96d3-11e9-880f-76f39d8e9168.png)

![image](https://user-images.githubusercontent.com/12817839/60051524-7a8f7a80-96d3-11e9-94a1-c9fb14bebfa6.png)

There is a small gap in the bottom corners of the borders

[2019-06-25 05:24] kemal-contiamo commented on #1006
@TejasQ may I remind you that we have a [ticket](https://contiamo.atlassian.net/browse/UI-80) for this issue. Just fyi ;)

[2019-06-25 06:43] TejasQ commented on #1006
I'm aware, @kemal-contiamo. That internal ticket really doesn't mean anything to OSS contributors though so best to keep it out of issues here. 😄

[2019-06-25 06:56] TejasQ opened #1085 "Tree is completely inaccessible"
Tabbing around [here](https://deploy-preview-1083--operational-ui.netlify.com/#/Components/Tree) doesn't allow us to do anything with the tree (expand or collapse nodes) via keyboard.

This is _bad_.

Let's fix it.

[2019-06-25 08:13] wptechprodigy commented on #1085
Hi @TejasQ

I want to take this issue.

I'll read through to get an understanding and discuss it with you.

[2019-06-25 08:14] TejasQ commented on #1085
You got it!

[2019-06-25 08:14] TejasQ commented on #1085
To get started I'd recommend reading [this document](https://www.w3.org/TR/wai-aria-practices/examples/treeview/treeview-2/treeview-2a.html) and understanding the expected behavior of an accessible tree view. 🚀

[2019-06-25 08:19] TejasQ opened #1086 "[object Object] in broken examples"
Choosing an option from `ActionMenu` [here](https://operational-ui.netlify.com/#/Components/ActionMenu) puts `[object Object]` in the alert box. Let's use the `label` property of the object instead.

![image](https://user-images.githubusercontent.com/9947422/60081586-60d15000-9732-11e9-84cd-f7a04cb5d7d4.png)

[2019-06-25 08:21] stereobooster opened #1087 "Fix SectionHeader height"
There is [SectionHeader](https://github.com/contiamo/operational-ui/blob/master/src/Internals/SectionHeader.tsx) which uses

[code]

This is wrong because we not suppose to use "space" (something around the content) for content size.

Task is to change it to use `36px` from new design (do we need constant for it or we already have one?), as well find other occurrences of `theme.space.element * 2`

[2019-06-25 08:21] TejasQ commented on #1086
Turns out this was fixed in master.

[2019-06-25 08:21] #1086 closed

[2019-06-25 08:22] TejasQ commented on #1087
I don't expect this height to be reused or configurable by a theme for this _opinionated_ UI component library so let's hardcode the number in there.

[2019-06-25 08:22] wptechprodigy commented on #1085
Okay

[2019-06-25 08:31] stereobooster opened #1088 "RFC: remove borders"
Some of our components come with outer border, for example

<img width="1051" alt="Screenshot 2019-06-25 at 10 22 48" src="https://user-images.githubusercontent.com/179534/60082099-68ddbf80-9733-11e9-8175-3f00e6597e54.png">
<img width="307" alt="Screenshot 2019-06-25 at 10 23 07" src="https://user-images.githubusercontent.com/179534/60082100-68ddbf80-9733-11e9-9baf-c1f6ea8a33e1.png">
<img width="3

[2019-06-25 08:32] TejasQ commented on #1088
This is a great idea, but then where would the border come from? The parent?

[2019-06-25 08:41] stereobooster commented on #1088
Yes, some kind of grid component which would be responsible for sizes, position and borders

[2019-06-25 08:41] TejasQ commented on #1088
I like the sound of that.

[2019-06-25 08:43] TejasQ commented on #1088
Tbh, `border-collapse` on `div`s would be _amazing_ and solve this problem out of the box. cc @fantasai

[2019-06-25 09:15] #928 closed

[2019-06-25 09:56] TejasQ commented on #1073
@kemal-contiamo what conclusion did we come to here?

[2019-06-25 10:44] #1070 closed

[2019-06-25 12:09] Corvinae commented on #1080
@TejasQ, I agree, exclusive views is what I had in mind. That way there's one button to open, which gives way to two buttons: close and switch mode. I have another question if you don't mind. 😆

I have a second button rendering in Header's end prop when "diff mode" is on, but the lack of horizontal space in HeaderBar::End leads to the "close diff" text wrapping vertically. This requires either dif

[2019-06-25 12:19] TejasQ commented on #1080
It depends. Normally, I'd say yes.

This tells me you're a great engineer. 😍

I suggest actually making the change to `src` because we're a little bit too strict about `HeaderBar`'s end. I think switching from `grid` to `flex` isn't necessary, but simply replacing the size of the end column, (`250px`) with `max-content` should give us the flexible behavior we're looking for.

Perhaps try that out

[2019-06-25 16:21] march213 commented on #1087
Hi 👋🏻

I’d like to take this issue.

[2019-06-25 17:12] TejasQ commented on #1087
Hey @march213! Welcome to the project! This issue is now yours! 🎉

[2019-06-25 18:03] march213 commented on #1087
@TejasQ Thank you 🚀

[2019-06-26 05:39] bradd123 commented on #1076
@mehtavishwa30 Have you forked the repo to your account and cloned that repo? I think cloning directly will have problems running locally sometimes.

[2019-06-26 07:10] TejasQ commented on #1076
@bradd123 say more – why?

[2019-06-26 07:51] wptechprodigy commented on #1085
Hi Tejas.

Thanks for providing the opportunity to gain experience with you.

I went through w3.org ARIA in HTML document yesterday and understood the implementation of the Tree concept for both files and navigation.

Here are my issues:
1. I am not familiar with TS yet.
2. I understood that tabbing should work on the list, as well keyboard keys and confused where to look into.
3. I was looking in

[2019-06-26 08:16] TejasQ commented on #1085
I think we can work with all those points, though point 4 might be a little hard. It might be cool to have a PR created from an Android tablet though. What Cypress errors did you have?

[2019-06-26 08:35] mpotomin opened #1093 "Add stepsWidth to the Stepper"
Since we might need to make the steps of the stepper narrower than the actual step content, consider adding `stepsWidth: string` to the API of the `<Stepper/>` for that purpose.

Example of the layout that could utilise this property:
<img width="969" alt="Screenshot 2019-06-26 at 10 34 20" src="https://user-images.githubusercontent.com/639406/60164596-2af99d80-97fe-11e9-92f9-b75b1035c097.png">

[2019-06-26 08:51] wptechprodigy commented on #1085
Cannot unzip cypress.

I have looked at the Cypress github page for probable solution but couldn't find something suitable

[2019-06-26 08:52] TejasQ commented on #1085
It just says `Cannot unzip cypress`? Nothing else?

[2019-06-26 09:02] bradd123 commented on #1076
This is just my observation. I mistakenly cloned direct URL and tried to run locally, I had some TS errors. https://github.com/contiamo/operational-ui/issues/1077. It worked fine after forking the repo and run locally.

[2019-06-26 09:05] TejasQ commented on #1076
That is so interesting. I'll have to look into that and see why.

[2019-06-26 09:05] wptechprodigy commented on #1085
I couldn't recover the error. I'll try to see if it can be reproduced.

[2019-06-26 09:05] TejasQ commented on #1076
Oh also, we merged the PR that fixes this issue so I'mma close this now. Thanks so much for your great work, @mehtavishwa30!

[2019-06-26 09:05] #1076 closed

[2019-06-26 09:40] wptechprodigy commented on #1085
I did a fresh clone of the repo and ran yarn again

Here's the screenshot of the error I got now:

![Error Screenshot](https://res.cloudinary.com/waheedafolabi/image/upload/v1561541920/My%20Ps/Screenshot_2019-06-26-10-34-04.png)

[2019-06-26 09:41] wptechprodigy commented on #1085
It seems the android platform is not supported for Cypress.

[2019-06-26 09:42] TejasQ commented on #1085
Yeah, that's a bummer. @brian-mann, is there a plan to support the android platform on Cypress in the near future?

[2019-06-26 09:44] wptechprodigy commented on #1085
I want to see possibility of borrowing a laptop from a friend and trying it out.

[2019-06-26 13:07] stereobooster commented on #1077
<img width="412" alt="Screenshot 2019-06-26 at 15 07 08" src="https://user-images.githubusercontent.com/179534/60182206-2647e000-9824-11e9-95af-5deaf76aea6d.png">

no details about error

[2019-06-26 13:08] TejasQ commented on #1077
My bad. Try `yarn tsc`? I swallow output in my script for now. So sorry! Maybe we can fix it in the script. 🙈

[2019-06-27 08:08] #1087 closed

[2019-06-27 08:32] stereobooster opened #1099 "TopBarSelect types are broken"
Consider following code example

[code]

It doesn't work without `any` in `React.useState`

[2019-06-27 08:41] stereobooster opened #1100 "TopBarSelect is off by some pixels"
As you can see TopBarSelect is not on the same line as buttons. Font size is a bit smaller. Arrow is too big.

Current:
<img width="271" alt="Screenshot 2019-06-27 at 10 37 10" src="https://user-images.githubusercontent.com/179534/60250898-cc98f180-98c7-11e9-902c-04ad99fd77e8.png">

Design:
<img width="267" alt="Screenshot 2019-06-27 at 13 05 08" src="https://user-images.githubusercontent.com/1795

[2019-06-27 15:35] TejasQ opened #1104 "Make minmax(200px, 1fr) the default cellWidth on DataTable"
We've found this to be a good reasonable default by dogfooding. Let's set the `cellWidth` prop's default value to be `minmax(200px, 1fr)` on `DataTable`.

[2019-06-27 15:35] march213 commented on #1099
Hi 👋🏻
Can I take this one too ?

[2019-06-27 15:45] ImogenF commented on #1099
@march213 Go for it!

[2019-06-27 16:47] march213 commented on #1099
@ImogenF Thank you !

[2019-06-28 03:27] march213 commented on #1099
@stereobooster Would it be right to change `onChange` type to this

[code]

It works, because in this scenario you are passing `setActiveDisplay` to `onChange`. But `setActiveScenario` has type `React.Dispatch<React.SetStateAction<string>>` which is incompatible with current `onChange?: (newLabel: string | React.ReactElement<any>) => void`

I'm not a TS expert yet 🤓, so maybe I'm wrong.

[2019-06-28 03:29] march213 commented on #1100
I'd like to take this one too, if you don't mind 😊

[2019-06-28 08:01] TejasQ commented on #1100
Wow, sure!

[2019-06-28 08:24] stereobooster commented on #1099
@march213 consider following code (standard React)

[code]

React standard components have to deal with event, because they are building blocks. But in our case we can simplify API and onChange can be called with value directly instead of event. (Does it make sense so far?)

So we should be able to write something like this

[code]

But our type system says that onChange can be called with ReactNo

[2019-06-28 08:40] bradd123 commented on #1078
Pushed some more changes. Currently, there are 9 pending components. I will fix them ASAP.

[2019-06-28 09:17] wptechprodigy commented on #1085
I have gotten a laptop from a friend. I'm setting it up already.

[2019-06-28 09:54] TejasQ commented on #1085
Awesome! Feel free to get in touch with any questions you may have!

[2019-06-28 13:35] wptechprodigy commented on #1085
Hey @TejasQ . Everything went well...I ran ```yarn start``` and it did some compilation.

I tried accessing the app on http://192.168.43.77:6060/ as provided on the terminal

![styleguidist](https://user-images.githubusercontent.com/22558674/60345794-aea7bb80-99b1-11e9-875f-f243d57d5b5e.png)

But it keeps running without a visual output.

[2019-06-28 13:53] TejasQ opened #1107 "Start script + watchers need to be more verbose"
Currently, `yarn start` doesn't really output errors (probably because styleguidist reports errors on something other than `stderr`). As a result, errors are swallowed and we just see infinite spinners.

Let's fix this by reporting and even `process.exit(1)`ing when styleguidist fails.

[2019-06-28 13:53] TejasQ commented on #1085
Try running `yarn styleguidist server` and see what happens. This is a known bug I'm looking at. https://github.com/contiamo/operational-ui/issues/1107

If `yarn styleguidist server` reports an error, paste it here and we can debug together. If it starts successfully, great! You have a dev server!

[2019-06-28 14:06] wptechprodigy commented on #1085
Okay! Will try that out and let you know.

[2019-06-28 14:24] wptechprodigy commented on #1085
Nothing happened.

![styleguidistserver](https://user-images.githubusercontent.com/22558674/60348740-18c35f00-99b8-11e9-8f25-335fb3f5942e.png)
```yarn styleguidist server``` seems to run fine but ```localhost:6060/``` never stops trying to load up something.

I then looked up the script section of the ```package.json``` file and I couldn't find a script command for ```styleguidist server```

Here'

[2019-06-28 14:32] wptechprodigy commented on #1104
I want this as well @TejasQ, already figured it out.

[2019-06-28 14:36] wptechprodigy commented on #1085
Here's the script section of the ```package.json``` here on the repo:

![githubJSON](https://user-images.githubusercontent.com/22558674/60349917-60e38100-99ba-11e9-88b8-42e8ce20a1e5.png)

[2019-06-28 14:47] march213 commented on #1099
Thank you 😊 It makes perfect sense. I will simplify type signature.

I was confusing about using ReactNode, but I wasn't sure about use cases.

[2019-06-28 14:48] TejasQ commented on #1104
Do it.

[2019-06-28 14:53] TejasQ commented on #1085
It's not an issue that the script is missing. Nothing really appears to be wrong with your setup: styleguidist just takes a _really long_ time to start – sometimes up to 5 minutes! The team is already aware of it (see https://github.com/styleguidist/react-styleguidist/issues/212).

Would you mind running `yarn styleguidist server` and waiting 5 minutes for it to start?

[2019-06-28 14:56] wptechprodigy commented on #1085
No, I wouldn't mind.

I'll run it again, wait for 5 minutes+ and let you know.

[2019-06-28 14:56] TejasQ commented on #1085
Thanks!

[2019-06-28 15:02] march213 commented on #1099
Found another problem:

[code]

In this example `newItem.label` that passes to onChange has type signature of `label: string | React.ReactElement<any>`. The file is `ContextMenu.Item.tsx` -> IContextMenuItem.

Should I change this label type signature to `label: string` as well ?
@stereobooster

[2019-06-28 15:09] march213 commented on #1099
I run tests, and I get a lot of errors, if change type signature to`label: string` for IContextMenuItem.
This for example.

<img width="841" alt="image" src="https://user-images.githubusercontent.com/8292471/60352112-2f0bf380-9995-11e9-83bd-d660a78ec501.png">

[2019-06-28 15:10] TejasQ commented on #1099
Please do not change the type signature of `IContextMenuItem`. This is used widely internally and could be a significant breaking change.

Further, sometimes the labels of these items (even in `TopbarSelect`) are not directly equal to the value. Imagine a list where you want to show user-readable labels but have machine-readable values. In this case, you'd want to pass [`newItem.value`](https://gi

[2019-06-28 15:10] stereobooster commented on #1099
This sometimes happens https://www.youtube.com/watch?v=_UZFI-8D5uA

[2019-06-28 15:11] march213 commented on #1099
@TejasQ Yeah, this is what happened when I run tests.

[2019-06-28 15:17] wptechprodigy commented on #1085
Working...

![guidistworking](https://user-images.githubusercontent.com/22558674/60352535-ec134580-99bf-11e9-9bc3-291ead8ffe46.png)

and running live on ```http://localhost:6060/``` :

![operationalUI](https://user-images.githubusercontent.com/22558674/60352647-2b419680-99c0-11e9-8df1-ef8730313d8d.png)

[2019-06-28 15:22] TejasQ commented on #1085
Nice! You're ready to work! 🚀

[2019-06-28 15:23] march213 commented on #1099
But this won't work with type `string`

[code]

[2019-06-28 15:30] TejasQ commented on #1099
I think this is fine. @stereobooster would need to update his code to look like this:

[code]

I think this makes sense for the reasons I mentioned above. Namely,

[2019-06-28 15:34] wptechprodigy commented on #1085
Sure...expect my PR on cellWidth first.

[2019-06-28 15:34] march213 commented on #1099
Right now problem is here:
[code]

Where we pass `newItem.label` to `onChange`

[2019-06-28 15:35] TejasQ commented on #1099
Yes you can.

[2019-06-28 19:35] wptechprodigy commented on #1104
How would this change be tested @TejasQ ?

[2019-06-28 20:10] wptechprodigy commented on #1104
Under what category should this change be placed: **Feature:** or **Fix:**?

I am thinking **Feature**, what do you think?

[2019-06-28 20:47] TejasQ commented on #1104
Either or. Great work!

[2019-06-28 20:47] #1104 closed

[2019-06-29 07:45] aliahsan07 commented on #1107
Hey, I'm an opensource newbie, can I take up this issue?

[2019-06-29 10:58] TejasQ commented on #1107
Are you comfortable with Node.js and CLIs? This is a little bit different to the rest of the issue so on this project. If you feel confident, let’s do it. 💪🏾

[2019-06-29 13:37] aliahsan07 commented on #1107
I am. I wouldn't say I'm experienced with CLI's but I've started to prefer them over GUI's

[2019-06-29 21:09] TejasQ commented on #1107
Cool. Do it.

[2019-06-30 03:22] march213 commented on #1100
I changed only icon size and font size.
I think it looks better now. What do you think?

__Now__:
<img width="368" alt="Screen Shot 2019-06-29 at 11 16 37 PM" src="https://user-images.githubusercontent.com/8292471/60391764-1e0dd000-9ac4-11e9-993e-670015fb6b58.png">

But CaretIcon looks different, should I change it too?

Also, I noticed that in the `Topbar` Component `NoIcon` looks giant too...
<i

[2019-07-01 12:53] aliahsan07 commented on #1107
is there a guide to how the errors must be reported?

[2019-07-01 13:47] TejasQ commented on #1107
Nope. Get creative 🤠 🖌 🎨 .

I like the ones from TypeScript and all of @zeithq and @prisma's stuff  😍

[2019-07-01 15:39] stereobooster commented on #1100
@march213 don't be shy to open PR without asking for it, if it's not final you can mark it as draft. (I always open PRs without asking to any repo `¯\_(ツ)_/¯`)

It looks good enough on my taste

[2019-07-02 08:35] stereobooster opened #1113 "Tabs onActive callback called twice for each action"
If you go to online playground https://operational-ui.netlify.com/#/Components/Tabs and change code like this:

[code]

And then click any tab you will see it is called twice

![image](https://user-images.githubusercontent.com/179534/60497441-24af6980-9cb5-11e9-90a6-ffa07d439932.png)

[2019-07-02 10:39] #1100 closed

[2019-07-02 15:25] TejasQ opened #1114 "Use Chevron icons instead of + and - in Tree"
Currently, our [`Tree`](https://operational-ui.netlify.com/#!/Tree) has `+` and `-` to toggle nodes that contain children. Let's use `ChevronRightIcon` and `ChevronDownIcon` here instead to convey intent more meaningfully.

[2019-07-02 15:33] iamshadmirza commented on #1114
I will be trying on this issue.

[2019-07-02 15:37] TejasQ commented on #1114
You got it! Looking forward to your PR!

[2019-07-02 17:28] iamshadmirza commented on #1114
It looks like I have to replace Icon imports in TreeItem.tsx. Please guide.

[2019-07-03 07:34] TejasQ commented on #1114
You're totally right. You'll want to replace the existing icons with `ChevronRightIcon` and `ChevronDownIcon` I believe.

Please feel free to reach out with any concrete questions you have as you continue.

[2019-07-03 10:51] TejasQ commented on #1114
Closed in https://github.com/contiamo/operational-ui/pull/1115

[2019-07-03 10:52] #1114 closed

[2019-07-03 10:52] TejasQ commented on #1107
Hey @aliahsan07! How are you fairing with this? Do you have a plan? Want some direction/help?

[2019-07-03 10:53] TejasQ commented on #1085
Hey @wptechprodigy, how are you doing on this issue? Do you need help or support with anything?

[2019-07-03 10:53] TejasQ commented on #1080
What's up, @Corvinae? How's it looking so far?

[2019-07-03 10:53] aliahsan07 commented on #1107
basically trying to play with styleguidist, see how it reports errors. Any leads on where should I look into?

[2019-07-03 10:54] TejasQ commented on #909
Hey @rimildeyjsr! Have you been able to find time for this issue yet? What can we help/support you with?

[2019-07-03 11:00] TejasQ commented on #1107
Since we use [Ora](https://github.com/sindresorhus/ora), you could `spinner.fail()` and then `process.exit(1)` when styleguidist fails.

This is where we're currently failing:
https://github.com/contiamo/operational-ui/blob/a432c8e90277345b31e11ec30fb02599ddaf7e77/scripts/start.ts#L76-L78

Styleguidist does not fire an `error` event in its process when there is one and so our process continues exe

[2019-07-03 11:22] stereobooster opened #1117 "Need to fix unfiltered props in styled components"
# The Problem

<img width="636" src="https://user-images.githubusercontent.com/179534/60587780-96f77b00-9d95-11e9-9d92-ef36d326463a.png" alt="index.js:3671 Warning: Received `false` for a non-boolean attribute `fill`. If you want to write it to the DOM, pass a string instead: fill='false' or fill={value.toString()}. If you used to conditionally omit it with fill={condition && value}, pass fill={co

[2019-07-03 11:27] stereobooster opened #1118 "Need to fix unfiltered props in styled components for Button"
<img width="651" alt="Screenshot 2019-07-03 at 13 25 37" src="https://user-images.githubusercontent.com/179534/60588017-2bfa7400-9d96-11e9-8ec9-ab84af17bc6b.png" alt="index.js:3671 Warning: Received `false` for a non-boolean attribute `loading`. If you want to write it to the DOM, pass a string instead: loading='false' or loading={value.toString()}. If you used to conditionally omit it with loadin

[2019-07-03 12:12] stereobooster commented on #1118
Closed in favour of https://github.com/contiamo/operational-ui/issues/1117

[2019-07-03 12:12] #1118 closed

[2019-07-03 15:58] march213 commented on #1117
Hi 👋🏻
I'd like to take this one too.

[2019-07-03 16:05] TejasQ commented on #1117
Sure! Appreciate your great work!

[2019-07-04 08:19] kazionovm commented on #1113
Hi, can I take this?

[2019-07-04 08:23] #1099 closed

[2019-07-04 08:28] stereobooster commented on #1113
Hi. You can 👍 . Ping me if you need more guidance

[2019-07-04 08:31] TejasQ opened #1119 "Make sidenav narrower"
Let's update the [Sidenav](https://operational-ui.netlify.com/#!/Sidenav) in compact mode to:

- make it thinner – 64px
- remove labels, use tooltips instead

This will look better I think.

[2019-07-04 12:24] jm1200 commented on #1119
I'd like to give this issue a go.

Making the Sidenav in compact mode thinner: Looks like I can just make a change to constants.ts:

`const constants = {
 ...
  compactSidebarWidth: 64,
  ...
}`

For the tooltips, are you thinking of having a tool tip appear just to the right of the icons?

[2019-07-04 13:04] micha-f commented on #1119
Exactly - tooltips to the right of the icons. This is the style we have in mind:

![image](https://user-images.githubusercontent.com/200647/60668586-a09fe200-9e6c-11e9-8a17-722be791a43a.png)

The compact sidenav is for UIs that are used on a regular basis - so we want to keep it slim and simple.

[2019-07-04 13:05] TejasQ commented on #1119
@jm1200 do you feel up to it? If so, I can assign it to you and we can get this ship in the sky. 🚀

[2019-07-04 13:29] jm1200 commented on #1119
Yup, I'll take it.

[2019-07-04 13:34] TejasQ opened #1120 "Improve DataTable cells"
Currently our [`DataTable`](http://operational-ui.netlify.com/#!/DataTable) has a bit of clunkiness:

![image](https://user-images.githubusercontent.com/9947422/60670448-f24a6b80-9e70-11e9-97bb-6de76a6d0c65.png)

There's enough room to render a full result, but it doesn't – the default [`maxCharactersInCell`](https://github.com/contiamo/operational-ui/blob/bb84d4eee848978eeae2292496b3044733dc7b3a/

[2019-07-04 15:51] rimildeyjsr commented on #909
@TejasQ - hey had a very busy work week, so didn't have a chance to work on it. Will definitely take this up in the weekend. Sorry for the delay.

I will start by looking at the datepicker component's source code, if I have any doubts, I will definitely reach out!

[2019-07-04 16:02] TejasQ commented on #909
Awesome! Looking forward to your PR!

[2019-07-05 14:58] march213 commented on #1117
@stereobooster @TejasQ

Hi! I found a problem:
- An Icon component accepts right and left prop. But as I can see, icons are created on build stage and all props are spreaded to an `<svg>`:

[code]

I'm not sure, how to modify `build-icons.ts` script to prevent it... Any suggestions ?

[2019-07-05 15:05] march213 commented on #1120
👋🏻 I'd like to take this one two 🤓

[2019-07-05 15:21] stereobooster commented on #1117
@march213 what the problem exactly?

<img width="875" alt="Screenshot 2019-07-05 at 17 20 52" src="https://user-images.githubusercontent.com/179534/60732025-458fed00-9f49-11e9-826c-382b861ee830.png">

`...props` contains everything except `size, color, left, right`

[2019-07-05 20:42] rimildeyjsr commented on #909
@TejasQ @fabien0102 - Hey, I went over the source code for the Datepicker component and found the area of code to be changed. It is this piece of code in the `DatePicker.tsx`

[code]

If I add in another if statement to also check for `props.max` and add in the appropriate year and month, the date picker opens on to the proper page.

I had one question to ask - Should we also not handle other case

[2019-07-05 21:08] march213 commented on #1117
@stereobooster I thought that the problem is here:

`Button.tsx`
[code]

I thought that somehow the `right` prop passes to an svg in the `ProgressPanel` component. But I didn't check compiled html 🤦🏼‍♀️

Now, I see there is a problem with `Remove` icon:
<img width="768" alt="image" src="https://user-images.githubusercontent.com/8292471/60745255-78d17c80-9f47-11e9-9a44-869a0f34fa04.png">

Not sure

[2019-07-05 21:13] march213 commented on #1117
Problem fixed.

[2019-07-05 22:02] jm1200 commented on #1119
So, I have been playing around with trying to get tooltips instead of labels and I am stuck. Please feel free to give this issue to someone more capable. Or, if someone doesn't mind guiding me that would be great too.

In SidenavItem.tsx, the StyledSidenavItem component has two events, onMouseEnter and onMouseLeave that I thought might be useful.

[code]
My thinking was that I can add something li

[2019-07-06 14:28] TejasQ commented on #1119
That's a great outlining of your thoughts, @jm1200! Want to hop on a call and pair program together?

[2019-07-06 14:32] TejasQ commented on #909
Great questions, @rimildeyjsr! Maybe we can have a function with a lot of conditionals that handle edge cases and throw/warn where appropriate? Something like `validate()` or similar? I think that could be a good first direction.

[2019-07-06 14:33] TejasQ commented on #1120
Wow! You're on fire, @march213! Let's do it!

[2019-07-06 15:02] jm1200 commented on #1119
That would be great! I am free for the next 3 hours if you'd like to do that soon. What do you use to chat and pair program?

[2019-07-07 07:52] bradd123 commented on #1078
I've been sick for the last week, will resume working on it.

[2019-07-07 14:42] aliahsan07 commented on #1107
it never seems to reach the
`
if (d === "\n") {
        return
}
` condition and hence is stuck inside and consequently promise is not rejected and the spinner loads forever.

[2019-07-08 09:33] rimildeyjsr commented on #909
@TejasQ @fabien0102 - Hey this is the solution I am proposing. Let me know if I can clean up the code more, add/delete something or if there is any better way of doing this!

If the solution looks good, I will create the PR!

So in the `DatePicker.tsx` file, I am assigning `startYearMonthInWidget` to the return value of `this.getStartMonthYearInWidget(props)`. The function is checking if the start

[2019-07-08 09:52] TejasQ commented on #1107
That's a great first step. Have you read [my previous comment](https://github.com/contiamo/operational-ui/issues/1107#issuecomment-508046297)? Do you have a plan to fix it?

[2019-07-08 09:52] TejasQ commented on #1078
Nice!

[2019-07-08 09:57] TejasQ commented on #1119
Sorry, @jm1200! I was away for the weekend. Maybe [hop on here](https://calendly.com/tejaskumar/pair-programming) and let's schedule something!

[2019-07-08 10:15] kazionovm commented on #1113
@stereobooster take a look at this screenshot
<img width="100%" alt="image" src="https://user-images.githubusercontent.com/38687326/60802362-5cb91f80-a181-11e9-8716-1826b0ea4eda.png">

When we only creating a new item it calls once, but when we focus on item it occurs twice
This can be happened by ```onActivate``` prop or ```setActive``` method

[2019-07-08 10:29] stereobooster commented on #1113
My guess the issue is here

[code]

We don't need to track focus at all. We only need to react on keyboard and clicks

[2019-07-08 10:29] kazionovm commented on #1113
@stereobooster I'll try it now :)

[2019-07-08 10:54] kazionovm commented on #1113
@stereobooster check my first contribution to open source 😍

[2019-07-08 13:26] stereobooster opened #1123 "Only enable left/right buttons for tabs if there is not enough space"
<img width="949" alt="Screenshot 2019-07-08 at 15 25 09" src="https://user-images.githubusercontent.com/179534/60813779-b119ca80-a194-11e9-9c2d-619172382eef.png">

At the moment left/right buttons are always enabled. It would be nice if they only _become enabled_ when there's more tabs than available space.

[2019-07-09 08:46] TejasQ commented on #909
@rimildeyjsr this idea looks a little abstract for me to piece together all the context, but let's try it! Open your PR!

[2019-07-09 09:25] kazionovm commented on #1123
Hi, can I take it?

[2019-07-09 10:14] TejasQ commented on #1123
Yes!

[2019-07-09 14:22] rimildeyjsr commented on #909
@TejasQ - Opened a PR! 😃

[2019-07-10 13:23] TejasQ opened #1126 "Add `outline` version to each button"
Let's add a boolean prop to `Button`, `outline`, that when true, gives the button the following appearance:

- White background color
- Whatever `color` prop is specified to becomes the border and text color

Kind of like

![image](https://user-images.githubusercontent.com/9947422/60972488-ae4edf00-a326-11e9-9034-321bd7e36f2b.png)
![image](https://user-images.githubusercontent.com/9947422/60972496

[2019-07-10 17:57] march213 commented on #1120
👋🏻 I'm going to work on this on Thursday.

[2019-07-10 18:07] TejasQ commented on #1120
AWESOME! Thanks so much!

[2019-07-10 20:13] aliahsan07 commented on #1107
sorry for the long delays
Yes, I've read your comment, the plan is to reject the promise and halt the spinner when the error occurs. There is something I haven't quite figured out about the issue with styleguidist and I'm hoping I'll play around for a while before I have a concrete understanding of it, shouldn't take long

[2019-07-11 07:39] TejasQ commented on #1107
Nice! Please feel free to ask any questions you have if you think our help might be faster than poking around docs.

[2019-07-11 17:23] rimildeyjsr commented on #1126
@TejasQ - can I take this up?

[2019-07-11 17:39] TejasQ commented on #1126
Yes you can!

[2019-07-11 17:40] #909 closed

[2019-07-11 17:41] TejasQ commented on #1006
The more I think about this, the more I think a

[code]

at the global level would be a good idea. I wonder what its drawbacks are.

cc @stereobooster

[2019-07-11 18:31] bradd123 commented on #958
What is the update on this? Are you still up to split them up into different components?

[2019-07-11 22:48] TejasQ commented on #958
I think there’s no conclusion here actually. We currently don’t have the time to look at `Card` enough to make an informed decision on this so I think we can leave it up to the community.

What are your thoughts?

[2019-07-12 12:26] TejasQ commented on #1120
@march213 how's progress on this? Can I help with anything?

[2019-07-12 12:37] jm1200 commented on #1119
I am going away for a couple of weeks and am not sure how much time I will have to work on this. I will keep an eye on it and see how it gets solved.

[2019-07-12 12:49] TejasQ commented on #1119
This is a more time-sensitive issue. Would you mind if I took it over? There'll be other fun issues to work on together.

[2019-07-12 12:56] jm1200 commented on #1119
Absolutely! Thanks so much for trying to work on it with me. I am going away with my family for the next few weeks. I will try to keep an eye on it to keep learning. 

Cheers,
John
    On Friday, July 12, 2019, 04:49:18 p.m. GMT+4, Tejas Kumar <notifications@github.com> wrote:

This is a more time-sensitive issue. Would you mind if I took it over? There'll be other fun issues to work on together.

[2019-07-12 17:30] march213 opened #1134 "Change type signature of the SimpleLink component"
Change type signature from:
[code]

To:
[code]

The `.button` syntax automatically filters props and make code much cleaner.

[2019-07-12 17:31] kazionovm commented on #1123
@TejasQ I don't clearly understand what you want to do :)
As I understood: "when left panel tabs have a free space, the right arrow button must be disabled?"

![image](https://user-images.githubusercontent.com/38687326/61146979-f830f400-a4e3-11e9-8dc9-90fd8905ded2.png)

[2019-07-13 15:36] #1117 closed

[2019-07-13 15:56] stereobooster commented on #1123
Buttons should be enabled only if div with tabs scrollable (horizontally). To do this you will need to get internal width of div and width of visible area, then you know that you need to enable one or two buttons depending on the situation, as well you need to track scroll position to enable disable one of the buttons if scroll in the given direction is not available. You can do those two tasks on

[2019-07-14 20:17] aliahsan07 commented on #1107
I can't seem to deduce if there is an error which is getting eaten up and not being reported to the stdout.  The react-styleguidist eventually compiles (~5 minutes), and the loader stops. The application can then be accessed.

Is this really an issue of errors not visible to the console or just styleguidist taking too long? Please guide me if I'm mistaken. I've looked carefully at what's getting p

[2019-07-15 07:49] woodworker opened #1135 "demo / docs are offline"
When i go to  https://operational-ui.js.org i only get a Github Pages 404

I don see any examples folders or anything, no gh-pages branch.

[2019-07-15 09:04] mpotomin opened #1136 "Export `expandColor` function from `lib/utils/constants`"
As a library user, I would like to have an access to `expandColor` function located in `@operational/components/lib/utils/constants` therefore it would be nice to have it exported as a part of public lib API

[2019-07-15 09:17] TejasQ commented on #1135
Thanks for letting us know. This should be fixed now. Please close if all is well.

[2019-07-15 09:19] TejasQ commented on #1107
It succeeds in your case! This is great! It fails in other cases. I think a good option is to explicity create a styleguidist error (have odd syntax in one of the `src` components) and then try to start the dev server. This should fail, and you likely won't be able to see an error. This is what we're trying to fix. 😄

[2019-07-15 09:22] TejasQ commented on #1134
If this works, then I don't see why we shouldn't do it. @stereobooster any thoughts?

[2019-07-15 12:36] woodworker commented on #1135
works4me

[2019-07-15 12:36] #1135 closed

[2019-07-15 18:35] march213 commented on #1134
It doesn't work, I have an error:

![image](https://user-images.githubusercontent.com/8292471/61239733-994ec300-a70d-11e9-8864-ed0f61c4d3f5.png)

Maybe it is because the syntax is wrong, I'm currently working on it 🧐

[2019-07-15 18:37] march213 commented on #1120
@TejasQ  Oh, I'm sorry, didn't notice this comment. I'll work on right now.

[2019-07-15 19:21] march213 commented on #1120
Experienced some problems with starting...

![image](https://user-images.githubusercontent.com/8292471/61242624-3280d800-a714-11e9-9af9-f245b8bc59f9.png)

![image](https://user-images.githubusercontent.com/8292471/61242632-3ca2d680-a714-11e9-8fab-e240faeb2b28.png)

[2019-07-15 20:55] stereobooster commented on #1134
Let me help you here a bit. What I would first is find the type definition. For example in IDE (in my case vscode) <kbd>cmd</kbd> + click on `styled`

<img width="766" alt="Screenshot 2019-07-15 at 22 39 16" src="https://user-images.githubusercontent.com/179534/61247462-6fb78b00-a751-11e9-91f0-db64946f3d65.png">

[code]

<kbd>cmd</kbd> + click on `CreateStyled`

[code]
<kbd>cmd</kbd> + click on `C

[2019-07-15 22:12] harshil1712 commented on #1136
Hey, I would like to take this

[2019-07-16 07:38] TejasQ commented on #1136
DO IT

![lol](https://media.giphy.com/media/CpgNjk2E54p7W/giphy.gif)

[2019-07-16 07:41] TejasQ commented on #1120
This is a little more pressing of a task because it directly impacts the usability of this component.

For example:

![image](https://user-images.githubusercontent.com/9947422/61275243-d66a9200-a7ad-11e9-9cf4-67bde9d016a9.png)

Do you mind if I take it over? You can always watch the issue to see how we fix it.

[2019-07-16 08:12] stereobooster commented on #1134
So the question is should we try to overcome this limitation of built in types and trick TS to treat `styled.button` as `CreateStyledComponentIntrinsic<'button', {}, Theme> | CreateStyledComponentIntrinsic<'a', {}, Theme>` or should we simply use `shouldForwardProp`?

@march213 what do you think?

[2019-07-16 09:28] #1113 closed

[2019-07-16 10:20] stereobooster opened #1141 "Add drag-n-drop for Tabs"
Allow drag-n-drop for Tabs, the same way you can drag it in VS Code. We can use beautiful-dnd for it.

[2019-07-16 16:37] TejasQ opened #1142 "Add support for encoders and decoders on useURLState"
On [useURLState](https://github.com/contiamo/operational-ui/tree/master/src/useURLState), we often want to `encodeURIComponent` and `decodeURIcomponent` to work with formatted strings.

For example, if I `useURLState` to persist a tab named `Tables (123)`, then I want to be able to:
- encode it and store an URL-encoded version in the URL
- decode it and return it to a consumer React function compo

[2019-07-16 18:17] march213 commented on #1134
For my personal taste, I'll choose to use `shouldForwardProp` because it's more clear in this situation.

[2019-07-16 18:27] march213 commented on #1120
@TejasQ Sure! Sorry about that.
I'm not sure what happened and why it's stopped working. I tried to wait ~7 min but nothing happened.

Anyway, I don't want to block you and looking forward to contribute more.

[2019-07-17 07:24] TejasQ commented on #1134
Great! So shall we close this issue then?

[2019-07-17 08:44] TejasQ opened #1144 "Fix errors in the console on localhost:6060"
HOW LAME

Our dev server shows a bunch of errors that make PRs hard to review:

![image](https://user-images.githubusercontent.com/9947422/61360955-cb803200-a87f-11e9-8e5d-c62b51eeaa92.png)

Who can save us by ensuring there are no errors in the console when developing locally?

[2019-07-17 11:02] TejasQ opened #1146 "Page scroll is odd"
The scrollbar on a `Page`'s content looks weird right now. [See example](http://operational-ui.netlify.com/#!/Page/7).

Let's improve this to have the scrollbar where you would expect it to be (far edge of the screen) while still maintaining a sticky page header.

[2019-07-17 13:41] TejasQ opened #1148 "Page title should be a ReactNode"
Currently, `Page` only accepts `string`s as `title`, but sometimes, we might want more customization. Let's allow `ReactNode`s here instead.

https://github.com/contiamo/operational-ui/blob/033368547c3c904c6484aa6d5031c1f1d5137e54/src/Page/Page.tsx#L16

[2019-07-17 13:42] TejasQ opened #1149 "Add "backButton" label to `Page`"
It would be nice if `Page` had a back button as an optional prop, whose label is the value of the prop and it automatically goes back.

Kind of like this:

![image](https://user-images.githubusercontent.com/9947422/61380338-778a4300-a8a9-11e9-9d39-51c74d255bd2.png)

[2019-07-17 13:52] TejasQ opened #1150 "Add breadcrumb to Page"
So I'm wondering if it makes sense to add `Breadcrumbs` inside page such that when `Page` is given a `breadcrumb` prop, it uses `Breadcrumbs` and `Breadcrumb` internally like so:

[code]

The drawback I see is that it couples `Breadcrumbs` and `Page` and makes `Page` a bit more complex and fundamentally disrupts a nice composition model in userland.

That said, something like this:

![image](https

[2019-07-17 13:59] TejasQ commented on #1150
![image](https://user-images.githubusercontent.com/9947422/61381742-ce911780-a8ab-11e9-93ae-769c13bec6fc.png)

[2019-07-17 13:59] TejasQ commented on #1150
Great. Let's do it.

[2019-07-17 14:36] #1134 closed

[2019-07-18 12:10] TejasQ opened #1152 "Modals have odd overflow"
If browser window is smaller than the content of the Modal, Modal's buttons overflow:

![image](https://user-images.githubusercontent.com/9947422/61456196-c5648100-a965-11e9-8edd-c0e05c4072c8.png)

![image](https://user-images.githubusercontent.com/9947422/61456211-cac1cb80-a965-11e9-82d7-a379ba55a7fa.png)

[2019-07-18 16:32] harshil1712 commented on #1136
In constants.ts file the `expandColor` is already exported.

Line 277

[code]

I am not sure what I am supposed to here. @TejasQ @mpotomin can you please guide me? Thank you.

[2019-07-19 04:55] march213 commented on #1120
@TejasQ Hi 👋🏻. You can take it over. I still have problems with running the project locally.

[2019-07-19 07:40] TejasQ commented on #1120
Great! I'll do it. Let me know if you want to debug your local environment together and we can hop on a call some time this weekend or so. https://calendly.com/tejaskumar/pair-programming?back=1&month=2019-07

[2019-07-19 08:07] mpotomin commented on #1136
Hey @harshil1712.

`expandColor ` is indeed exported from the `constants.ts`, but for for a library user, who would want to use this function, the import statement in their code would look like
[code]
It looks a bit awkward and gives the feeling of getting things from the library internals.

We could improve that my exporting this function as a part of the library's public API. You can find the ex

[2019-07-19 14:36] march213 commented on #1120
@TejasQ It's awesome! Scheduled.

[2019-07-20 12:11] aliahsan07 commented on #1107
I'm officially stuck. I created a syntax error and hence a result the styleguidist doesn't compile. Going through the styleguidist source code, the syntax error is supposed to be reported by this function in the _type === 'error'_ if condition, but it's consumed and not shown on the stderr.

`function printStatus(text, type) {
  if (type === 'success') {
    console.log(kleur.inverse().bold().gree

[2019-07-22 13:35] TejasQ commented on #1107
What about the `end` event? Sometimes people pipe errors there...

[2019-07-23 15:31] fabien0102 opened #1155 "Strange resize on the Tree component"
![image](https://user-images.githubusercontent.com/1761469/61725191-9a1bd080-ad6f-11e9-84ec-4447f9e42fd9.png)

When we don't have enough space, the icon is smaller, this is strange, let's fix this!

[2019-07-24 11:44] #657 closed

[2019-07-24 11:44] #1152 closed

[2019-07-25 15:02] TejasQ opened #1158 "useHotKey should defer to ducment"
![Uploading image.png…]()

[2019-07-26 13:37] TejasQ opened #1160 "Modal max-height goes past viewport"
It's interesting because `max-height` goes below the viewport on `Modal`.

[2019-07-26 14:48] #1120 closed

[2019-07-26 14:49] #1155 closed

[2019-07-27 12:24] TejasQ opened #1165 "Improve types for datatable"
Follow up to #1163, let’s improve the typings of the datatable and remove the typeof check to make it a little more robust.

[2019-07-29 09:38] TejasQ opened #1166 "Tree focus"
A sibling to #1085 – a [tree item](https://github.com/contiamo/operational-ui/blob/master/src/Tree/TreeItem.tsx) would look nicer if it had a blue focused state like so:

![image](https://user-images.githubusercontent.com/9947422/62038124-6ddfd400-b1f5-11e9-8e14-cc1c5a425f85.png)

[2019-07-29 09:43] TejasQ opened #1167 "Listen for Double click on Tree Items"
Sometimes, you'd want to be able to double-click on [tree items](https://github.com/contiamo/operational-ui/blob/master/src/Tree/TreeItem.tsx) and have something happen. Let's implement this!

[2019-07-30 18:46] TejasQ commented on #1119
@jm1200 there's a PR that implements it if you're still interested ^ 💞

[2019-08-01 10:52] kazionovm commented on #1123
@TejasQ, @stereobooster  Hi guys, I am back and will help you with pleasure

[2019-08-01 12:38] TejasQ commented on #1123
Let's do it!

[2019-08-13 18:57] micha-f opened #1196 "Drag and drop tree example is broken"
The example "With react-beautiful-dnd" doesn't work.

[code]

[2019-08-13 20:03] TejasQ commented on #1196
We’re aware of this but don’t really have the time to focus on it right now. Please feel free to open a PR with a fix if you have a solution.

[2019-08-14 12:34] #1119 closed

[2019-08-16 04:12] march213 commented on #1144
@TejasQ  👋🏻Hello! I'm ready to take this one 👩🏼‍💻

[2019-08-19 15:31] stereobooster commented on #1144
Hey, @march213! I believe Tejas fixed at least some of them. If you find anything else feel free to open PR and ping me.

[2019-08-20 16:52] stereobooster commented on #1123
I need to fix this issue now, so I will take over this ticket. @kazionovm you can check implementation here https://github.com/contiamo/operational-ui/pull/1213/files. You're welcome to pickup any other issue in the tracker if you like it 👍

[2019-08-21 09:27] #1123 closed

[2019-08-21 18:16] michaeldera opened #1217 "TooltipIcon not exported"
I am using operational UI for a project and get the following error when I try to use the Tooltip Icon.

`Module '.../node_modules/@operational/components/lib"' has no exported member 'TooltipIcon'.  TS2305`

`import { Sidenav, SidenavHeader, SidenavItem, SidenavSeparator, HomeIcon, TooltipIcon,  UserIcon, ColumnsIcon, JobsIcon, AdminIcon, GroupIcon, OrganizationIcon } from "@operational/component

[2019-09-03 09:34] mpotomin opened #1230 "Action is triggered instead of opening the action menu"
If used with the keyboard controls, the ActionMenu's action is triggered instead of opening the action menu.

Repro:
1. Navigate to the action menu button with Tab
1. Click Enter to open the menu
1. Select any item in the action menu and click Enter
1. Observe the Confirm notification that the item was triggered
1. CLick the button inside the Confirm and observe the ActionMenu closes
1. Whilst foc

[2019-09-26 12:50] mpotomin opened #1240 "Can't use <Select /> within a Modal"
Using `<Select />` inside the <Modal /> renders the Listbox behind the Modal:

<img width="502" alt="Screenshot 2019-09-26 at 14 48 59" src="https://user-images.githubusercontent.com/639406/65689255-ed124c80-e06c-11e9-8744-ee928689ef37.png">

[2019-09-26 15:45] #1240 closed

[2019-10-02 05:42] rimildeyjsr commented on #1126
@TejasQ - Hey Tejas, I have a working solution for this issue, but I need your help with one issue before I can raise a PR.

After adding the `outline` prop to the `<Button>`, I am getting an error on the demo, attaching the screenshot for it.

<img width="772" alt="Screenshot 2019-10-01 at 6 29 13 AM" src="https://user-images.githubusercontent.com/10229595/66020437-ae651200-e504-11e9-8ac7-fedcac0

[2019-10-02 08:39] TejasQ commented on #1126
Oh wow! Thank you so much for coming back to this – but to be honest, 2 and a half months later (😅!) I'm not sure this is needed anymore. My apologies – we should've mentioned this earlier but we didn't think anyone was working on it.

[2019-10-02 10:34] rimildeyjsr commented on #1126
@TejasQ - hey no problem! honestly, I should have mentioned that I won't be able to pick this up for a long time after it got assigned to me!

I will pick up something more current from the issue list! 😃

[2019-10-02 10:44] rimildeyjsr commented on #1149
@TejasQ - can I work on this? 🙂

[2019-10-04 08:09] TejasQ commented on #1149
YES! WOOO

[2019-10-04 08:09] #1126 closed

[2019-10-05 12:21] solankivj94 commented on #1148
@TejasQ  - may I work on this?

[2019-10-05 12:37] solankivj94 commented on #1148
Oops! change have already been made.

[2019-10-07 09:03] TejasQ commented on #1148
Oh, right. Thanks for noticing. Will close this. Sorry for the late response. ❤️

[2019-10-07 09:03] #1148 closed

[2019-10-07 09:29] TejasQ commented on #1149
@rimildeyjsr any updates here? To be honest, the `Page`'s title prop is already a `React.ReactNode`, so people could already add this back button in userland. If you haven't started on this yet, I'm not sure we'll need to spend time on this.

[2019-10-10 02:33] rimildeyjsr commented on #1149
@TejasQ - no i haven't started working, will pick up something else! :)

[2019-10-10 03:41] #1149 closed

[2019-10-21 12:16] TejasQ opened #1249 "<Select /> looks broken"
From the big green example [in the docs](http://operational-ui.netlify.com/#!/Modal/13):

![image](https://user-images.githubusercontent.com/9947422/67204191-40c64a80-f40d-11e9-839c-90c1852d9608.png)

Let's fix this.

[2019-11-04 11:29] #1249 closed

[2019-11-06 23:32] Life-Hex commented on #1166
I'll take this!

Now, to figure my way around it.

[2019-11-07 09:59] TejasQ commented on #1166
Let me know if you need any help!

[2019-11-09 09:07] Life-Hex opened #1257 "Dependency issues"
Cant build project - reason unclear.

Possible dependency issue.

logs - https://pastebin.com/1E7QEYRB

[2019-11-11 10:13] TejasQ commented on #1257
Seems like you're on Windows. I think from our team, @fabien0102 is the best one to help you out with this since he's the Chief Windows Officer. 🤠

[2019-11-11 10:17] fabien0102 commented on #1257
Sure, but as a classic developer, I want to say "works on my computer" 😬

@Life-Hex Can you detail a bit more your environment setup? Are you using powershell, cmd or bash? I think it's powershell regarding your logs, but I prefer to be sure before digging into ^^ (I'm a bash person)

[2019-11-11 14:42] Life-Hex commented on #1257
haha works on your PC!

I use the powershell terminal inside VSCode.

So - vscode/powershell/win10-april/local-npm-modules
Thats pretty much it. Pretty sure i'm missing something but please, ask.

@fabien0102 I miss my fedy. can't always have nice things.

Thanks, @TejasQ.

[2019-11-26 16:19] TejasQ opened #1264 "AvatarGroup needs to show a full name"
Currently, AvatarGroup only shows initials of its Avatars and makes a user **guess** what the initials mean.

Let's show a tooltip on hover to display a user's name.

[2019-12-02 04:00] domehead100 commented on #1257
Works fine for me on Windows using regular cmd terminal in vscode.  Powershell has an issue with case sensitivity, so I don't use it much (though not saying this is your problem).

For example, see below, where the actual directory is C:\Users (with a capital U") but PS will allow you to type incorrect case and then use whatever you typed instead of the actual directory name:

[code]
Then this cau

[2019-12-02 05:25] Life-Hex commented on #1257
Ah...

This is a sickening gotcha. So subtle, thank you.
I'm going to review my path declarations, or just switch to regular CMD, then try again.

[2019-12-02 12:16] #1264 closed

[2019-12-16 13:35] justinmchase opened #1274 "Editable tree labels"
Right now, when creating a Tree it appears that the labels must strings only, it would be really nice if they could be arbitrary other components as well.

As it is now I'm not sure how to support inline editing of the labels and other more complex styling.

[2020-01-20 12:01] stereobooster opened #1283 "Can't close multi-option select when click arrow"
Issue mentioned in this PR https://github.com/contiamo/operational-ui/pull/1281

[2020-01-20 15:06] stereobooster opened #1286 "There is a scroll in actions tooltip for Table"
There is a scroll in actions tooltip:

<img width="1150" alt="Screenshot 2020-01-20 at 16 05 20" src="https://user-images.githubusercontent.com/179534/72736828-ba9dd980-3b9e-11ea-8e7a-b14223b980bd.png">

[2020-02-07 14:03] stereobooster opened #1294 "Switch component is not focusable"
There is no way to tab into [Switch component](https://operational-ui.netlify.com/#/Components/Switch)

We need to add:
- `tabIndex=0`
- handle <kbd>Enter</kbd>, <kbd>Space</kbd> keys
- aria property for enabled/disabled
- `labeledBy` property
- visual focus state

[2020-02-18 09:48] #1294 closed

[2020-03-02 15:07] stereobooster opened #1303 "Icons are not keyboard accessible"
It is possible to focus icon, but it is **not** possible to trigger `onClick` with keyboard (Enter or Space)

[2020-03-02 15:53] stereobooster opened #1304 "Add a way to cap max width of Selects dropdown"
Selects dropdown can become very wide, which is not always desirable. We need a way to limit this or maybe if it is close to right side of the screen move it to the left 🤔

<img width="1143" alt="Screenshot 2020-03-02 at 16 51 07" src="https://user-images.githubusercontent.com/179534/75692623-1bdcc080-5ca6-11ea-9f69-e941a59bf737.png">

[2020-03-11 15:37] mpotomin opened #1311 "Select's width increases when the drop-down opens"
See the animation for more details:

![123](https://user-images.githubusercontent.com/639406/76434844-85e81a80-63b6-11ea-8e85-4077c74ce010.gif)

[2020-03-15 08:48] stereobooster commented on #1304
Fixed https://github.com/contiamo/operational-ui/pull/1308

[2020-03-15 08:48] #1304 closed

[2020-03-15 08:53] stereobooster commented on #1166
It is resolved by https://github.com/contiamo/operational-ui/pull/1301

[2020-03-15 08:53] #1166 closed

[2020-03-15 08:55] stereobooster commented on #1085
It is resolved by https://github.com/contiamo/operational-ui/pull/1301

[2020-03-15 08:55] #1085 closed

[2020-03-17 16:06] mpotomin opened #1317 "Imports of react-use-dimensions break unit-tests"
20 | // @ts-ignore https://github.com/Swizec/useDimensions/issues/16

Broke unit tests

<img width="1128" alt="Screenshot 2020-03-17 at 17 04 28" src="https://user-images.githubusercontent.com/639406/76876041-a78f4900-6871-11ea-8a47-5f052183c0a2.png">

[2020-03-17 16:24] mpotomin commented on #1317
Resolved with local yarn update

[2020-03-17 16:24] #1317 closed

[2020-03-19 08:15] mpotomin opened #1321 "4th level of tree nesting is misaligned with the parent"
The items on the 4th level of nesting are not aligned vertically with the parent's label. See example for the tree "With freeze":

http://operational-ui.netlify.com/#/Components/Tree

<img width="487" alt="Screenshot 2020-03-19 at 09 07 57" src="https://user-images.githubusercontent.com/639406/77045341-4a0a1200-69c1-11ea-81a3-943d5254464c.png">

[2020-03-19 08:38] stereobooster commented on #1321
Also we can change style of freeze tree like this:

<img width="309" alt="Screenshot 2020-03-19 at 09 37 28" src="https://user-images.githubusercontent.com/179534/77047622-542e0f80-69c5-11ea-80fa-43d6d1e4ed14.png">

[2020-03-20 09:06] mpotomin opened #1322 "Tree selection highlight color"
If we submit a different theme primary color (i.e. green), the Tree search highlight dies not follow and stays blue:

<img width="636" alt="Screenshot 2020-03-20 at 10 01 50" src="https://user-images.githubusercontent.com/639406/77149684-717cdf80-6a92-11ea-9a4d-8320ebd6725a.png">

[2020-03-20 15:43] mpotomin commented on #1322
Fixed

[2020-03-20 15:43] #1322 closed

[2020-05-06 07:06] stereobooster opened #1330 "useURLState doesn't work in "onUnmount" callback"
[code]

[2020-05-07 12:26] stereobooster opened #1332 "Input's clear button is not keyboard accessible"
<img width="407" alt="Screenshot 2020-05-07 at 14 26 38" src="https://user-images.githubusercontent.com/179534/81294182-cbe7f480-906e-11ea-8029-6d5301e4d9e3.png">

[2020-05-09 17:53] justinmchase opened #1333 "useInterval leaks components"
I'm pretty sure that this line is a leak:
https://github.com/contiamo/operational-ui/blob/a912bc2645dec90a041e4f375c3e44f3fc1ddbb5/src/useInterval/index.ts#L38

Where its only clearing the interval if the delay changes, it should be:
[code]
Which would cause it to call clearInterval if the callback were to change.

I am using nextjs which has HMR and it can cause a component to get reloaded on a c

[2020-05-09 17:55] justinmchase commented on #1333
Shoot never mind.. I'm an idiot. I had my page open in a second tab and didn't know it. LOL. But it does seem strange that callback isn't a parameter there still.

[2020-05-09 17:55] #1333 closed

[2020-07-14 15:52] rimildeyjsr commented on #1311
@mpotomin - Hey! can I work on this?

[2020-07-15 08:23] mpotomin commented on #1311
Sure @rimildeyjsr, go for it 😍

[2020-07-15 18:32] rimildeyjsr commented on #1311
@mpotomin Thanks 😄 Will tag you when I have a solution!

[2020-07-17 18:21] rimildeyjsr commented on #1311
@mpotomin - Hey I found the issue, but need some help for the solution 😅

The select input (for custom field) is using the `<Form>` for the custom input, which has the following style on it:

[code]

So this margin-right is increasing the width. I can't remove it since it removes the space between children inside groups

<img width="336" alt="Screenshot 2020-07-17 at 11 49 24 PM" src="https://user

[2020-07-20 12:39] mpotomin commented on #1311
Hey @rimildeyjsr, good catch with the margin styling of the Form! I think the simplest solution would to use a `<div>` wrapper  instead of the `<Form>` to avoid the margin side-effect. What do you think?

[2020-07-20 13:47] rimildeyjsr commented on #1311
@mpotomin - Nice idea! I think that solves the problem 😄 Sending in a PR!

[2020-07-20 13:50] rimildeyjsr commented on #1311
@mpotomin - On second thoughts, I think wrapping it in a fragment would be better, it would avoid that extra `<div>`

[2020-07-20 15:11] #1311 closed

[2020-07-29 12:46] rimildeyjsr commented on #1321
@stereobooster @mpotomin - Hey! can I work on this?

[2020-07-29 13:10] mpotomin commented on #1321
@rimildeyjsr Sure, it's yours! Good luck with it 💪

[2020-11-10 23:10] #1274 closed

[2021-01-16 06:11] justinmchase opened #1362 "Operational seems to have an issue with duplicating react"
According to this documentation:
https://reactjs.org/warnings/invalid-hook-call-warning.html#duplicate-react

I have duplicate reacts, which is a problem.
[code]

Here are my dependencies:
[code]

And its giving me this error:

It seems weird that operational has its own react if react needs to be top level. Whats going on and how can I fix it?

[2021-01-16 14:26] fabien0102 commented on #1362
Hi, regarding the error, you seams to have some hooks inside a class component or something like this. React seams to be the same version so I will be surprise if this is your issue (but I can be wrong of course).

Can you setup a quick codesandbox or repo with the problematic setup?

[2021-01-16 16:46] justinmchase commented on #1362
I'm trying to run it inside of Electron and I think its related to that. I'm still trying to debug it but if I find anything out I'll update here. The code is very simple, my hooks are working but something inside of operational components fails. Even a single page with a single component. I think I'll close this until I can find a better repro or an explanation and update with a solution in case

[2021-01-16 17:20] justinmchase commented on #1362
I think I figured it out, I was doing `render(<App />, app)` and then in there I was creating the operational components. I restarted from scratch and skipped that bit and now its working as expected. So I guess the OperationalUI is doing its own render call?

[2021-01-16 17:44] justinmchase commented on #1362
I think the problem is that because its in Electron, the modules are getting loaded isolated like node modules would rather than all in the same global context like it would in the browser.

The error is here:
![image](https://user-images.githubusercontent.com/10974/104818914-0d30c680-57f0-11eb-8a93-358c3ea872dd.png)

And the callstack here:
![image](https://user-images.githubusercontent.com/10974

[2021-01-16 17:53] justinmchase commented on #1362
LOL I found this in react:

![image](https://user-images.githubusercontent.com/10974/104819181-7107bf00-57f1-11eb-93c6-c2a474646295.png)

I'm thinking about using it to set the dispatcher 🤔

[2021-01-16 18:44] fabien0102 commented on #1362
I did use react with electron a long time ago (before hooks), was working. I will be very curious when you have a repro, we are not doing anything fancy there.

[2021-01-16 20:12] justinmchase commented on #1362
Yeah its definitely loading a second React and that is the problem.
![image](https://user-images.githubusercontent.com/10974/104821788-e5e3f480-5803-11eb-890b-879e6b94a09f.png)

I followed the basic getting started here:
https://www.electronjs.org/docs/tutorial/quick-start#quick-start-guide

I also installed `npm i @operational/components`

[code]

Then these simple files:

## index.html
[code]

#

[2021-01-16 20:23] justinmchase commented on #1362
Ok I'm dumb, that was the problem but the version numbers needed to be exact.

I did this:
[code]

And deleted node_modules and package-lock.json and then it worked. I think it was me not installing exact and not updating my package-lock.json file that put me in a weird state.

[2021-01-16 20:23] #1362 closed

[2021-01-17 09:15] fabien0102 commented on #1362
Nice debugging session, I'm glad you found the issue! And yes, indeed, react & react-dom need to be sync (I also did learned this the hard way 😅)

[2021-06-02 09:17] #1286 closed

[2021-06-02 09:17] #1283 closed

[2021-06-02 09:18] #1330 closed

[2021-06-02 09:20] #1141 closed

[2021-06-02 09:20] #1088 closed

[2021-06-02 09:21] #1006 closed

[2021-06-10 13:55] justinmchase commented on #1362
I just encountered this again and the peer dependency versions in operational-ui are different than the actual versions it requires and it ends up causing this issue.

I'll file a different bug but for the record I had to dig into the package.json under my node_modules folder and find the actual versions in there and install those exactly.

[2021-06-10 14:08] justinmchase opened #1369 "Peer dependencies shouldn't also be actual dependencies"
I just encountered an issue installing this where multiple instances of react are running and end up conflicting. This happens when you have any other dependency which depends on react but is different from operational.

Operational publishes the peer dependency information but it also puts those peer dependencies as actual dependencies. This results in operational actually trying to install diffe

[2021-06-14 15:21] justinmchase opened #1370 "Feature Request: Form schemas"
It may be asking for a lot but it would be super sweet if the forms could be auto-generated based on a Json Schema object being passed in.

Something like:
[code]

And that would render a form with the appropriate fields.

 There is a project already that does this [`react-jsonschema-form`](https://www.npmjs.com/package/react-jsonschema-form), perhaps its just a matter of bundling it and adding a

[2021-11-27 02:49] justinmchase opened #1377 "The layouts page takes minutes to load"
This page:
https://operational-ui.netlify.app/#/Components/Layout

Multiple computers, multiple browsers, over multiple years I keep expecting this page to get fixed but it keeps hanging my browser. Have you guys tried actually loading this page in your browser? What could I possibly be doing differently that causes it to hang my whole browser tab for _minutes_ before rendering?

![image](https://

[2021-11-27 13:43] justinmchase commented on #1377
It seems like it could be the monaco editors, it probably can't handle more than one of this level of complexity. Something is hanging it super hard and the blue progress bar at the top never quite ends.